* {
  outline: none;
}

.background {
  background-color: #c7c7c7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create_card {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 750px;
  height: 235px;
  background-color: #656565;
  margin: 10px 0 20px;
  border-radius: 5px;
}

.create_card_header {
  height: 75px;
  width: calc(100%-90px);
  position: relative;
}

.create_star-active {
  padding-left: 6px;
  padding-right: 10px;
  vertical-align: -5px;
}

.create_hero_name {
  height: 28px;
  width: 237px;
  font-size: 16px;
  font-weight: bold;
  background-color: #e2e2e2;
}

.create_hero_nick {
  height: 21px;
  width: 210px;
  font-size: 16px;
  background-color: #e2e2e2;
  margin-right: 10px;
}

.create_hero_text {
  margin-top: 3px;
  height: 22px;
  width: 497px;
  font-size: 16px;
  background-color: #e2e2e2;
}

.create_card_url {
  left: 20px;
  top: 47px;
  margin-left: -5px;
  font-size: 16px;
  height: 22px;
  width: 595px;
  background-color: #e2e2e2;
  position: relative;
  z-index: 1;
}

.create_card_center {
  left: 90px;
  top: 4px;
  height: 112px;
  width: 635px;
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #535353;
  border-radius: 5px;
  position: relative;
}

/*.create_card_center img {*/
/*  height: 112px;*/
/*  width: 635px;*/
/*  object-fit: cover;*/
/*  border-radius: 15px;*/
/*  position: relative;*/
/*}*/

.create_card_footer {
  font-size: 16px;
  padding-top: 4px;
  padding-left: 100px;
  vertical-align: text-top;
  height: 42px;
  width: calc(100%-90px);
  position: relative;
}

.create_card_footer span {
  opacity: 0.5;
}

.create_gray a:hover {
  opacity: 1;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

.create_card_header_avatar {
  top: 10px;
  left: 15px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: black;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.create_card_header_avatar::before {
  content: 'click';
  text-align: center;
  padding: 3px;
  font-size: 12px;
  top: 40px;
  left: 9px;
  width: 40px;
  height: 18px;
  border-radius: 50%;
  background-color: #00000066;
  position: absolute;
  user-select: none;
  z-index: 1;
}

/*.create_card_header_avatar::after {*/
/*  top: 25px;*/
/*  left: 67px;*/
/*  color: black;*/
/*  content: "v";*/
/*  font-size: 15px;*/
/*  position: absolute;*/
/*  cursor: pointer;*/
/*}*/

.create_card_header_avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: black;
  background-size: cover;
  position: absolute;
}

.create_card_header_textBox {
  padding-top: 15px;
  margin-left: 10px;
  left: 90px;
  width: 600px;
  height: 75px;
  position: absolute;
}

.create_card_header_textBox_name {
  min-height: 30px;
  font-size: 18px;
  color: white;
  position: relative;
}

.create_card_header_textBox_status {
  min-height: 30px;
  font-size: 18px;
  color: white;
  position: relative;
}

.create_card_header_textBox_dw_Arrow {
  top: 16px;
  left: 718px;
  position: relative;
  opacity: 0.6;
}

.create_publish_btn {
  width: 140px;
  height: 40px;
  margin: -10px 0 20px;
  color: white;
  background-color: #525252;
  border: 2px solid white;
  font-size: 18px;
  cursor: pointer;
}

.create_publish_btn:hover {
  color: #525252;
  background-color: white;
  border: 2px solid #525252;
  font-size: 18px;
  cursor: pointer;
}

.create_leftTab {
  margin-left: 110px;
}

.icon2text {
  padding-left: 10px;
  vertical-align: 6px;
}

.gray {
  opacity: 0.6;
}
